<form>
    <label for="choose">Choisir un pays par ID</label>
    <input id="choose" name="pays" required>
    <a id="lien" href="http://localhost:8080/countries">
        <input id="test" type="button" value="Rechercher">
    </a>
  </form>

  <form >
      <label>Code du pays</label>
      <input name="code" id="code" maxlength="2" minlength="2" required>
      <label>Nom du pays</label>
      <input name="country" id="country" maxlength="180" required>
      <input id="sendJSON" value="Créer" type="submit">
  </form>
  <form >
    <label>Identifiant du pays</label>
    <input name="numCountry" id="numCountry" required>
    <label>Code du pays</label>
    <input name="putCode" id="putCode" maxlength="2" minlength="2" required>
    <label>Nom du pays</label>
    <input name="putCountry" id="putCountry" maxlength="180" required>
    <input id="putJSON" value="Modifier" type="submit">
</form>
<form >
  <label>Identifiant du pays</label>
  <input name="supCountry" id="supCountry" required>
  <input id="supJSON" type="submit" value="Supprimer">
</form>
<ul id="myUl"></ul>


  <script>
    
        document.getElementById("test").addEventListener("click", function() {
        var a = document.getElementById("choose").value;
        if (a != ""){
        document.getElementById("lien").href= "http://localhost:8080/country/"+ a ;}
      });

      
    document.getElementById("sendJSON").addEventListener("click", function(){
    let  country = document.getElementById("country").value
    let countryUp = country.toLowerCase()
    let code = document.getElementById("code").value
    let codeUp = code.toUpperCase() 
    var xhr = new XMLHttpRequest();
    var url = "http://localhost:8080/countries";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
            var json = JSON.parse(xhr.responseText);
        }
    };
    var data = JSON.stringify({"name": countryUp, "abbreviation": codeUp});
    xhr.send(data);
    });

    document.getElementById("putJSON").addEventListener("click", function(){
      let num = document.getElementById("numCountry").value
      let  country = document.getElementById("putCountry").value
      let countryUp = country.toLowerCase()
      let code = document.getElementById("putCode").value
      let codeUp = code.toUpperCase() 
      var xhr = new XMLHttpRequest();
      var url = "http://localhost:8080/country/" + num ;
      xhr.open("PUT", url, true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
              var json = JSON.parse(xhr.responseText);
          }
      };
      var data = JSON.stringify({"name": countryUp, "abbreviation": codeUp});
      xhr.send(data);
      });

      document.getElementById("supJSON").addEventListener("click", function(){
        let num = document.getElementById("supCountry").value
        var xhr = new XMLHttpRequest();
        var url = "http://localhost:8080/country/" + num ;
        xhr.open("DELETE", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var json = JSON.parse(xhr.responseText);
            }
        };
        xhr.send(null);
        });


        document.addEventListener('DOMContentLoaded', function() {
          let a = -1
          fetch('http://localhost:8080/countries/')
          .then(response => response.json())
          .then(data => 
          data.forEach((element, index) => {  
          var buttonS = document.createElement("button");
          var buttonD = document.createElement("button");
          var li = document.createElement("li");
          var text = document.createTextNode(element.abbreviation + ' ' +element.name);
          var textBtn = document.createTextNode("Supprimer");
          var form = document.createElement("form");
          var inputC = document.createElement("input");
          var inputP = document.createElement("input");
          var inputS = document.createElement("input");
          buttonS.appendChild(textBtn);
          buttonS.setAttribute("id", "sup"+element.id);
          inputC.setAttribute("id", "c"+element.id);
          inputC.setAttribute("maxlength",2);
          inputC.setAttribute("minlength",2);
          inputC.required = true;
          inputP.setAttribute("id", "p"+element.id);
          inputP.required = true;
          inputS.setAttribute("id", "s"+element.id);
          inputS.type = "submit"
          inputS.setAttribute("value", "Modifier")
          li.appendChild(text);
          li.appendChild(buttonS);
          form.appendChild(inputC);
          form.appendChild(inputP);
          form.appendChild(inputS);
          li.appendChild(form);
          document.getElementById("myUl").appendChild(li);
          document.getElementById("sup"+element.id).addEventListener("click", function(){
            let num = document.getElementById("supCountry").value
            var xhr = new XMLHttpRequest();
            var url = "http://localhost:8080/country/" + element.id ;
            xhr.open("DELETE", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var json = JSON.parse(xhr.responseText);
                }
            };
            xhr.send(null);
            location.reload()
            });
            document.getElementById("s"+element.id).addEventListener("click", function(){
              let num = element.id
              let  country = document.getElementById("p"+element.id).value
              let countryUp = country.toLowerCase()
              let code = document.getElementById("c"+element.id).value
              let codeUp = code.toUpperCase() 
              var xhr = new XMLHttpRequest();
              var url = "http://localhost:8080/country/" + num ;
              xhr.open("PUT", url, true);
              xhr.setRequestHeader("Content-Type", "application/json");
              xhr.onreadystatechange = function () {
                  if (xhr.readyState === 4 && xhr.status === 200) {
                      var json = JSON.parse(xhr.responseText);
                  }
              };
              var data = JSON.stringify({"name": countryUp, "abbreviation": codeUp});
              if(countryUp.length != 0 && code.length == 2 ){
              xhr.send(data);
              location.reload()}
              });
              }
            )
          );
        });
  </script>